body {
    background-image: url("../images/bg.jpg");
    font-family: 'Courier New', Courier, monospace;
}

#mini-metro {
    background-color: #F8F5DD;
}

.game {
    float: left;
    margin: 20px;
}

.controls {
    float: left;
    margin-top: 20px;
}

button {
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 6px;
}

#lineA, #trainA, #lineAdel, #lineAdelB, #trainAdel {
    background-color: #dc0000;
}

#lineB, #trainB, #lineBdel, #lineBdelB, #trainBdel {
    background-color: #67c54e;
}

#lineC, #trainC, #lineCdel, #lineCdelB, #trainCdel {
    background-color: #195cdb;
}

h2 {
    text-align: center;
    
    font-size: 30px;
}

#btnStart {
    background-color: #dfd946;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 22px;
    border-radius: 10px;
}